.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media only screen and (min-width: 576px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20% !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset !important;
}

a:hover {
  text-decoration: none !important;
  color: unset;
}

.fa-times,
.fa-bars {
  cursor: pointer;
}

.fa-bars {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-bars:hover {
  color: black;
}
.menu-top ul{
  margin-bottom: 0 !important;
}

.menu-top {
  display: none;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .menu-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-top div li {
  display: inline-block;
  margin: 0 10px;
}

.header-top {
  background-color: #2959c2;
  padding-bottom: 50px;
}

@media only screen and (min-width: 992px) {
  .header-top {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .header-top .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-top .container .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .container .header-logo .header-menu {
  margin-top: 20px;
  font-size: 20px;
}

.header-top .container .header-logo .menu {
  font-size: 35px;
  color: white;
}

@media only screen and (min-width: 992px) {
  .header-top .container .header-logo .menu {
    display: none;
  }
}

.header-top .container .header-logo .menu #toggle {
  display: none;
}

.header-top .container .header-logo .menu .navbar {
  position: absolute;
  background-color: white;
  color: black;
  padding: 0;
  font-size: 20px;
  width: 70%;
  height: 100%;
  left: -100%;
  top: 0;
  opacity: 0;
  z-index: 4;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-top .container .header-logo .menu .navbar .header-nav-list {
  height: 100%;
  width: 100%;
}

.header-top .container .header-logo .menu .navbar .header-nav-list .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key {
  font-size: 18px;
  border-bottom: 1px solid #ececec;
  padding: 10px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key:hover {
  background-color: #2959c2;
  color: white !important;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key .label {
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub:hover {
  background: #2959c2;
  color: white !important;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub .submenu-item {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub .submenu-item .li2-key {
  padding: 10px 20px;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub .submenu-item .li2-key:hover {
  background: #EFCC4C;
}

.header-top .container .header-logo .menu .navbar .header-nav-list ul .li-key-sub:hover .submenu-item {
  margin-top: 10px;
  position: relative;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.header-top .container .header-logo .menu #toggle:checked + .navbar {
  opacity: 1;
  z-index: 1;
  left: 0;
}

@media only screen and (min-width: 992px) {
  .header-top .container .header-search {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.header-top .container .header-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top .container .header-search form input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 9px 10px;
  font-size: 16px;
  width: 50%;
  outline: none;
  border: none;
}

.header-top .container .header-search form .header-button {
  padding: 10px 10px;
  outline: none;
  font-size: 17px;
  border: none;
  background-color: #EFCC4C;
  color: black;
  width: 170px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.header-top .container .account-cart {
  font-size: 30px;
}

.header-top .container .account-cart a {
  color: white !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header-top .container .account-cart a :hover {
  color: #EFCC4C !important;
}

.header-top .container .account-cart .cart {
  display: none;
  padding: 0px 5px;
  border-radius: 10px;
  position: relative;
}

@media only screen and (min-width: 992px) {
  .header-top .container .account-cart .cart {
    display: inline-block;
  }
}

.header-top .container .account-cart .cart .count-number {
  color: #2959c2;
  position: absolute;
  top: 10%;
  left: 80%;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  width: 20px;
  background-color: #EFCC4C;
  border-radius: 50%;
}

.box-menu-main {
  background-color: #2959c2;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

@media only screen and (min-width: 992px) {
  .box-menu-main {
    border-top: 1px solid rgba(255, 255, 255, 0.301);
  }
}

.box-menu-main .menu-main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
  display: none;
  margin-bottom: 10px;
}

.box-menu-main .menu-main a:hover {
  color: #EFCC4C !important;
}

@media only screen and (min-width: 992px) {
  .box-menu-main .menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.box-menu-main .menu-main .container-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
}

.box-menu-main .menu-main .container-menu li {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.box-menu-main .menu-main .container-menu .menu-main-item {
  position: relative;
}

.box-menu-main .menu-main .container-menu .menu-main-item .menu-item {
  text-align: start;
  width: 200px;
  background-color: #2959c2;
  position: absolute;
  z-index: 2;
  opacity: 0;
  left: 10px;
  top: 38px;
  -webkit-transition: all 1s;
  transition: all 1s;
  visibility: hidden;
}

.box-menu-main .menu-main .container-menu .menu-main-item .menu-item li {
  padding: 5px;
  font-size: 16px;
}

.box-menu-main .menu-main .container-menu .menu-main-item .menu-item li a {
  padding-left: 10px;
}

.box-menu-main .menu-main .container-menu .menu-main-item:hover .menu-item {
  opacity: 1;
  visibility: visible;
}

.box-menu-main .menu-main .support {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
}

.box-menu-main .menu-main .support i {
  color: #EFCC4C;
  margin-right: 5px;
}

.container .row .sidebar {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 1200px) {
  .container .row .sidebar {
    display: block;
  }
}

.container .row .sidebar .sidebar-item {
  padding: 15px;
  background-color: #EFCC4C;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .row .sidebar .sidebar-item span {
  text-transform: uppercase;
}

.container .row .sidebar .sidebar-item-2 a:hover {
  color: #EFCC4C !important;
}

.container .row .sidebar .sidebar-item-2 ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
}

.container .row .banner-menu #carouselExampleIndicators {
  display: none;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .container .row .banner-menu #carouselExampleIndicators {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .container .row .banner-menu #carouselExampleIndicators {
    margin-top: 0;
  }
}

.new-product {
  margin: auto;
  padding-bottom: 50px;
}

.new-product .normal-title-product {
  font-weight: bold;
  margin: 20px 0;
  border-bottom: 1px solid #b6b6b6;
}

.new-product .row {
  margin-right: unset;
  margin-left: unset;
}

.box-product {
  padding: 10px;
}

.box-product .item-product {
  padding: 10px 5px;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.1);
  
}

.box-product .item-product .title-price-product {
  padding: 10px 10px;
  background-color: white;
  text-align: center;
}

.box-product .item-product .title-price-product .title-product {
  display: block;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.box-product .item-product .title-price-product .title-product:hover {
  color: #78e2cd !important;
}

.box-product .item-product .title-price-product .price-product {
  padding: 0 10px;
  font-weight: bold;
}
.box-product .item-product .title-price-product .price-product ins {
  color: #FF0000;
 text-decoration: none;
}
.box-product .item-product .title-price-product .price-product del {
  font-size: 12px;
 }
 .box-product .item-product .title-price-product .price-product bdi {
    color: #FF0000;

 }

.box-product .item-product .title-price-product .price-sell-product {
  font-size: 14px;
  text-decoration: line-through;
}

.box-product .item-product .title-price-product .price-detail {
  text-align: center;
  margin-top: 5px;
  display: block;
  padding: 10px;
  background-color: #EDEDED;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box-product .item-product .title-price-product .price-detail:hover {
  background-color: #78e2cd;
}

.box-product .item-product .img-product {
  position: relative;
  padding: 30px 0px 0px;
}

.box-product .item-product .img-product img {
  width: 100%;
  height: 100%;
}

.box-product .item-product .img-product .sell {
  background-color: #FF0000;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 0px 5px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.box-product .item-product .img-product .overlay-product {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.37);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.box-product .item-product .img-product .overlay-product .overlay-chil {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box-product .item-product .img-product .overlay-product .overlay-chil .add-to-cart {
  background: #ffffff;
  padding: 7px;
  color: black !important;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.box-product .item-product .img-product .overlay-product .overlay-chil .add-to-cart:hover {
  background-color: #78e2cd;
}

.box-product .item-product .img-product .overlay-product .overlay-chil .like-product {
  color: black !important;
  background: #ffffff;
  padding: 7px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.box-product .item-product .img-product .overlay-product .overlay-chil .like-product:hover {
  background-color: #78e2cd;
}

.box-product .item-product .img-product:hover .overlay-product {
  opacity: 1;
}

.banner-pr {
  padding-bottom: 50px;
}

.banner-pr .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f0f0f0;
}

.banner-pr .row .pr-item {
  text-align: center;
  padding: 20px 10px;
}

@media only screen and (min-width: 768px) {
  .banner-pr .row .pr-item .border-rights {
    border-right: 1px solid #e4e4e4;
  }
}

.banner-pr .row .pr-item img {
  width: 40px;
}

.banner-pr .row .pr-item p {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}

.title-section {
  border-bottom: 1px solid #e2e2e2;
}

.product-banner-1 {
  position: relative;
  display: none;
}

@media only screen and (min-width: 768px) {
  .product-banner-1 {
    display: block;
  }
}

.product-banner-1 img {
  width: 100%;
}

.product-banner-1 .product-content {
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
}

.product-banner-1 .product-content a {
  color: #2959c2 !important;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.product-banner-1 .product-content a:hover {
  color: white !important;
}

.container-fluids .banner-image {
  margin: 50px 0;
}

.container-fluids .banner-image img {
  width: 100%;
}

.latest {
  text-align: center;
  -webkit-box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.28);
  margin-top: 20px;
  padding-bottom: 10px;
}

.latest .latest-img img {
  width: 100%;
}

.latest .latest-img .meta {
  padding: 0 10px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest .latest-img .meta i {
  color: #2959c2;
  margin-right: 5px;
}

.latest .latest-img .meta .meta-calendar {
  margin-right: 15px;
}

.latest .latest-content {
  padding: 10px;
}

.latest .latest-content .latest-heading {
  font-weight: bold;
  font-size: 24px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.latest .latest-content .latest-heading:hover {
  color: #EFCC4C !important;
}

.latest .latest-content .latest-btn {
  padding: 10px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.latest .latest-content .latest-btn:hover {
  border: 1px solid white;
  background-color: #EFCC4C;
  color: white !important;
}

.footer {
  background-color: rgba(0, 0, 0, 0.075);
  padding-top: 20px;
}

.footer .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  padding-bottom: 20px;
}

.footer .container .row .contact ul {
  text-align: start;
}

.footer .container .row .contact ul li i {
  font-size: 20px;
  color: #2959c2;
  padding: 5px;
  margin-right: 20px;
}

.footer .container .row .contact span i {
  font-size: 40px;
  opacity: .5;
}

.footer .container .row a:hover {
  color: #2959c2 !important;
}

.footer .footer-bottom {
  padding-top: 20px;
  text-align: center;
}

.footer .footer-bottom i {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  margin: 5px 5px;
}

.footer .footer-bottom i:hover {
  background-color: #2959c2;
}

.footer .footer-bottom p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */

.comments-wrapper {
	margin-top: 3rem;
}

.comment-reply-title {
	margin: 0 0 4rem 0;
	text-align: center;
}


/* Comment Item ----------------------------- */

/* COMMENT HEADER */

.comments .comment,
.comments .pingback,
.comments .trackback,
.comments .review {
	padding-top: 3.5rem;
}

div.comment:first-of-type {
	margin-top: 3.5rem;
	padding-top: 0;
}

.comments .comments-header + div {
	margin-top: 0;
	padding-top: 0;
}

.comment-body {
	position: relative;
}

.comment .comment {
	padding-left: 5%;
}

.comment-meta {
	line-height: 1.1;
	margin-bottom: 0;
	min-height: 5rem;
	padding-left: 5rem;
	position: relative;
}

.hide-avatars .comment-meta {
	min-height: 0;
	padding-left: 0;
}

.comment-meta a {
	color: inherit;
}

.comment-author {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.027777778em;
}

.comment-author a {
	text-decoration: underline;
}

.comment-author a:hover,
.comment-author a:focus {
	text-decoration: none;
}

.comment-meta .avatar {
	height: 4rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 4rem;
}

.comment-author .url {
	text-decoration: underline;
}

.comment-metadata {
	color: var(--gray);
	font-size: var(--font-small);
	font-weight: 500;
	margin-top: 0.6rem;
}

.comment-metadata a {
	text-decoration: none;
}

.comment-metadata a:focus,
.comment-metadata a:hover {
	text-decoration: underline;
}


/* COMMENT CONTENT */

.comment-content.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100%;
    background-color:var(--lightgray);
    padding:.5em;
}

.comment-content.entry-content .alignleft {

	/*rtl:ignore*/
	margin-left: 0;
}

.comment-content.entry-content .alignright {

	/*rtl:ignore*/
	margin-right: 0;
}

/* COMMENT FOOTER */

.comment-footer-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-small);
	font-weight: 600;
	justify-content: flex-start;
	letter-spacing: 0.030833333em;
	line-height: 1;
	margin: 1.5rem 0 -1rem -1.5rem;
	text-transform: uppercase;
}

.comment-footer-meta > * {
	margin: 0 0 1rem 1.5rem;
}

.comment-reply-link {
    background-color: #78e2cd;
    border-radius:2px;
	color: #fff;
	display: block;
	padding: 0.7rem;
}

.bypostauthor .comment-footer-meta .by-post-author {
	display: block;
}

.comment-footer-meta a {
	text-decoration: none;
}

.comment-footer-meta a:focus,
.comment-footer-meta a:hover {
	text-decoration: underline;
}


/* Pingbacks & Trackbacks ------------------------- */

.pingback .comment-meta,
.trackback .comment-meta {
	padding-left: 0;
}


/* Comments Pagination ---------------------------- */

.comments-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6rem;
	text-align: center;
}

.comments-pagination.only-next {
	justify-content: flex-end;
}

.comments-pagination .page-numbers {
	display: none;
	text-decoration: none;
}

.comments-pagination .page-numbers:focus,
.comments-pagination .page-numbers:hover {
	text-decoration: underline;
}

.comments-pagination .prev,
.comments-pagination .next {
	display: block;
}

.comments-pagination .prev {
	left: 0;
}

.comments-pagination .next {
	right: 0;
	text-align: right;
}


/* Comment Respond ---------------------------- */

.comment-respond::after {
	clear: both;
	content: "";
	display: block;
}

.comment-respond .comment-notes,
.comment-respond .logged-in-as {
	color: #6d6d6d;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: -3rem 0 4rem 0;
	text-align: center;
}

.comment-respond .comment-notes a,
.comment-respond .logged-in-as a {
	color: inherit;
	text-decoration: none;
}

.comment-respond .comment-notes a:focus,
.comment-respond .comment-notes a:hover,
.comment-respond .logged-in-as a:focus,
.comment-respond .logged-in-as a:hover {
	text-decoration: underline;
}

.comment-respond p {
	line-height: 1.1;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.comment-respond p:not(.comment-notes) {
	max-width: 58rem;
}

.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}

.comment-respond > p:last-of-type {
	margin-bottom: 0;
}

.comment-respond label {
	display: block;
}

.comment-respond input[type="checkbox"] + label {
	font-size: 1.5rem;
	line-height: 1.25;
}

.comment-respond input[type="text"],
.comment-respond input[type="email"],
.comment-respond textarea {
	margin-bottom: 0;
}

.comment-respond textarea {
	height: 15rem;
}

.comment-respond #submit {
	display: block;
}

.comment-respond .comments-closed {
	text-align: center;
}


/* Reply Respond ---------------------------- */

.comments .comment-respond {
	padding: 3rem 0 0;
}

.comments .comment-respond .comment-reply-title,
.comments .comment-respond .comment-notes,
.comments .comment-respond .logged-in-as {
	text-align: left;
}

.comment-reply-title small {
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: -0.0277em;
	margin: 0.5rem 0 0 0;
	white-space: nowrap;
}

.comment-reply-title small a {
	text-decoration: none;
}

.comment-reply-title small a:focus,
.comment-reply-title small a:hover {
	text-decoration: underline;
}



/* custom wooocomerce */
.woocommerce-Price-amount bdi{
  color: #FF0000 !important;
}

.col-1,.col-2{
  max-width: unset !important;
}
.checkbox {
  display: none !important;
}
#billing_company_field,#billing_postcode_field{
  display: none !important;
}
/* #order_comments {
  width: 250px !important;
  height: 150px !important;

} */

.woocommerce-input-wrapper{
  width: 100%;
}

.post-thumb-img-content img{
  width: 100% !important;

}
.imgwrap img{
  width: 100% !important;
}

.ast-primary-header-bar{
  background-color: #78e2cd !important;
}

.ast-main-header-bar-alignment a:hover{
  color:#f2f2f2 !important;

}
.ast-header-break-point .main-header-menu{
  background-color: #78e2cd !important;
  border-top-width:0;
}

.woocommerce span.onsale{
  background-color: #FF0000 !important ;
  min-width: unset  !important;
  min-height: unset  !important;
  line-height: unset !important;
  border-radius: 0;
  padding: 0 5px;

}
.woocommerce-product-search button:hover{

  background-color: #78e2cd !important;
}



/* #place_order:hover{
  background-color: #78e2cd !important;

}
.checkout-button:hover{
  background-color: #78e2cd !important;
  
} */
.button:hover{
  background-color: #78e2cd !important;
  
}
.about_paypal{
  display: none !important;
}

#wpforms-submit-339:hover{
  background-color: #78e2cd !important;
}

.elementor-2532 .elementor-element.elementor-element-78ab79a .elementor-button{
  background-color: #78e2cd !important;
}

.elementor-2532 .elementor-element.elementor-element-a3546f3 .elementor-button:hover{
  background-color: #78e2cd !important;

}

*{
  font-family: Dosis;
}